<div class="row py-4">
    <div class="col d-flex justify-content-center">
        <img src="./images/logo.png" alt="Logo" width="350">
    </div>
</div>
<div class="row pb-4">
    <div class="col d-flex justify-content-center">
        <h1 class="text_color">Ingresa a tu cuenta</h1>
    </div>
</div>

<div class="row d-flex justify-content-center" *ngIf="showError">
    <div class="col-6">
        <div class="alert alert-danger">
            El nombre de usuario o la contraseña no coinciden. Verifica tus datos e inténtalo nuevamente.
        </div>
    </div>
</div>

<div class="row pt-1">
    <div class="col d-flex justify-content-center">
        <form id="form-login" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label">Correo</label>
                <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo" [(ngModel)]="email" name="email" required />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <div class="input-group">
                    <input type="{{showPassword ? 'text' : 'password' }}" class="form-control form-floating input-password" id="password" placeholder="Ingresa tu contraseña" [(ngModel)]="password" name="password" required />
                    <span class="input-group-text">
                        <i class="bi" [ngClass]="{'bi-eye': !showPassword, 'bi-eye-slash': showPassword}" id="toggle-password" style="cursor: pointer" (click)="togglePasswordVisibility()" (keypress)="togglePasswordVisibility()"></i>
                    </span>
                </div>
            </div>
            <div class="pb-3">
                <a id="recover" routerLink="/recover">Olvidé mi contraseña</a>
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <div class="d-flex justify-content-center pt-4">
                <a id="register" routerLink="/register">¿Aun no tienes cuenta? <span style="font-weight: 500;">Registrate</span></a>
            </div>
        </form>
    </div>
</div>
